// ---------  promo-album -----------------------------

.promo-album h1 {
    color: #fff;
}





.green {
    color: green;
}

.orange {
    color: orange;
}
.red {
    color: red;
}

a{
    text-decoration: none !important;
    color: black !important;
}