// ---------  promo -----------------------------

.promo .product-infos {
    background-color: #fff;
    padding: 2px;
}

// COMMUN A TOUTES LES PAGES PRODUITS

.name-section {
    color: #30475e;
}

.promo-name {
    color:  #f05454;
}

.product-name {
    color: #30475e;
    font-size: 20px;
}

.discount {
    color: #f05454;
    font-size: 30px;
}

.price {
    color: #30475e;
    font-size: 20px;
}

.promo-price {
    color: #30475e;
    font-size: 20px;
}


.green {
    color: green;
}

.orange {
    color: orange;
}
.red {
    color: red;
}

a{
    text-decoration: none !important;
    color: black !important;
}
