#btnFavorites {
    background-color: transparent !important;
    border: none;
}

#priceProduct {
    font-size: 2em;
    margin-left: 50px;
    color: #f05454;
}

.discountPrice {
    font-size: 2em;
}